@layer components {
    h1,
    h2,
    h3,
    h4 {
        @apply font-semibold leading-[125%];
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    p {
        @apply text-base leading-[150%] font-normal;
    }
}

.material-icon-wrapper {
    @apply flex items-center justify-center w-8 cursor-pointer aspect-square;
}

.material-icons {
    @apply font-normal text-sm leading-[125%] text-nowrap rounded-md p-2 w-full h-full   transition-all duration-300;

    font-family: "Material Icons";
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;

    /* supports */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";

    &:hover {
        @apply opacity-80;
    }

    &.green {
        @apply bg-green-600;
    }

    &.action {
        @apply bg-yellow-600;
    }
    &.danger {
        @apply bg-red-500;
    }
}
